<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CourtRooms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.18.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
    </entityFramework>
  <connectionStrings>
    <!--<add name="CourtRoomContext" connectionString="Server=127.0.0.1; port=3307; Database=court_rooms2; Uid=root; Pwd=12345;" providerName="MySql.Data.MySqlClient" />-->
    <add name="CourtRoomContext" connectionString="Server=mysqldb.crae0nup2hdu.us-east-2.rds.amazonaws.com; port=3306; Database=court_rooms; Uid=denver; Pwd=12345;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <applicationSettings>
    <CourtRooms.Properties.Settings>
      <setting name="DeathByCaptchaLogin" serializeAs="String">
        <value>***REMOVED***</value>
      </setting>
      <setting name="DeathByCaptchaPassword" serializeAs="String">
        <value>***REMOVED***</value>
      </setting>
    </CourtRooms.Properties.Settings>
  </applicationSettings>
</configuration>